In [1]:
# Object Oriented Programming

In [ ]:
# Class - Classification of a real-world entity

In [ ]:
# Object - instance of a class which hold data

In [3]:
def test():
    pass      #Used when there is no body of function

In [4]:
class test:
    pass      #Used when there is no body of function

In [5]:
class person:
    pass

In [6]:
p = person

In [7]:
p

__main__.person

In [10]:
type(p)

type

In [11]:
print(p)

<class '__main__.person'>

In [11]:
p.name = "anish"
p.surname = "tejwani"
p.yob = 270802

In [12]:
a = person   # p and a are variable of person class

In [13]:
a.name = "abc"
a.yob = 231842
a.empno = 4325840

In [14]:
p.name  # Bad approach for creating objects and classes

'anish'

In [15]:
p.surname

'tejwani'

In [16]:
p.yob

270802

In [17]:
a.name

'abc'

In [18]:
a.surname

AttributeError: type object 'person' has no attribute 'surname'

In [23]:
type(p.name)

str

In [20]:
class person:
    def __init__(self,name,surname,yob):  # method in a class  #init is for initilisation
        self.name = name
        self.surname = surname
        self.yob = yob

In [21]:
p = person("anish", "tejwani", 270802)
print(p)

<__main__.person object at 0x0000022EE5015D90>

In [22]:
s = person("abc", "sfda", 78045)

In [23]:
s.name

'abc'

In [24]:
p.name

'anish'

In [25]:
s.name

'abc'

In [28]:
class person:
    def __init__(self,name,surname,yob):
        self.name = name
        self.surname = surname
        self.yob = yob
    def test(self,n,m):
        return n+m+self.yob
    def __str__(self):
        return "%s is first name its surname is %s and year of birth is %d" %(self.name,self.surname,self.yob)

In [29]:
p = person("anish","tejwani",34)

In [30]:
p.name

'anish'

In [17]:
p.test(34,24)           #It is a class method which has to be called through class object

92

In [18]:
s = person("fsds","fdsf",2342)

In [19]:
s.test(23,42)

2407

In [20]:
print(p)

<__main__.person object at 0x0000026939BCE650>

In [31]:
print(p)

anish is first name its surname is tejwani and year of birth is 34

In [32]:
print(s)

<__main__.person object at 0x0000026939B9C750>

In [33]:
p

In [34]:
class test:
    pass

In [35]:
p = test()
p.name = "anish"
p.surname = "tejwani"
p.yob = 2342

In [36]:
p.name

'anish'

In [38]:
s = test()
s.name = "sff"

In [39]:
s.name

'sff'

In [40]:
p.name

'anish'

In [41]:
 p

In [43]:
print(p)

<__main__.test object at 0x0000026939B7FA50>

In [13]:
class person:
    def pass_name(self, name):
        self.name = name
        
    def pass_surnmae(self, surname):
        self.surname = surname
        
    def pass_yob(self, yob):
        self.yob = yob

In [14]:
p = person()

In [15]:
p.pass_name("anish")

In [16]:
p.name

'anish'

In [17]:
p.pass_surnmae("tejwani")
p.pass_yob(270802)

In [18]:
p.yob

270802

In [ ]:
#Abstraction

In [19]:
class person:
    def __init__(self,name,surname,yob):
        self._name = name
        self._surname = surname
        self._yob = yob
    def test(self,n,m):
        return n+m+self.yob
    def __str__(self):
        return "%s is first name its surname is %s and year of birth is %d" %(self._name,self._surname,self._yob)

In [20]:
p = person("anish", "tejwani", 270802)

In [22]:
p._name    # This notation is called protected if not underscore it is public

'anish'

In [23]:
p.__dict__    #Shows how data is stored

{'_name': 'anish', '_surname': 'tejwani', '_yob': 270802}

In [25]:
p

In [26]:
s = person("sdad", "fdfa", 43444)

In [27]:
s.__dict__

{'_name': 'sdad', '_surname': 'fdfa', '_yob': 43444}

In [28]:
class person:
    def __init__(self,name,surname,yob):
        self.__name = name  # Defines private class
        self.surname = surname
        self.yob = yob
    def test(self,n,m):
        return n+m+self.yob
    def __str__(self):
        return "%s is first name its surname is %s and year of birth is %d" %(self.__name,self.surname,self.yob)

In [29]:
p = person("anish", "tejwani", 21)

In [30]:
p.__name  #Name is stored privately

AttributeError: 'person' object has no attribute '__name'

In [31]:
p.__dict__

{'_person__name': 'anish', 'surname': 'tejwani', 'yob': 21}

In [ ]:
# Private stores like _classname__attribute

In [32]:
p._person__name

'anish'

In [ ]:
#Inheritance

In [13]:
class person:
    def __init__(self,name,surname,yob):
        self._name = name
        self._surname = surname
        self._yob = yob
    def test(self,n,m):
        return n+m+self._yob
    def __str__(self):
        return "%s is first name its surname is %s and year of birth is %d" %(self._name,self._surname,self._yob)

In [14]:
class student(person):  # class inside a class which inherits from class in ()
    def __init__(self,roll_no, college_name, *args): # *args means initialize all the arguments
        super(student,self).__init__(*args)   #Invoking person class
        self.roll_no = roll_no
        self.college_name = college_name
        
stud = student(2345, "afdfd", "anish", "tejwani", 49858426)

In [15]:
stud._name

'anish'

In [16]:
stud._yob

49858426

In [17]:
stud.test(4,5)

49858435

In [21]:
 class a:
        def test(self):
            print("my name is anish")
            
 class b:
        def test(self):
            print("my surname is tejwani")
 
 class c(a,b):   # Multiple Inheritance
        obja = a()
        objb = b()
        obja.test()
        objb.test()
        
 objc = c()    
 objc.test()    #Will call method from class which is first

my name is anish
my surname is tejwani
my name is anish

In [1]:
#Method Overriding

In [13]:
class person:
    def __init__(self, a, b, c):
        self.a = a;
        self.b = b;
        self.c = c;
    def __str__(self):
        return "my name is anish"

In [14]:
p = person(3,4,5)

In [15]:
print(p)

my name is anish

In [16]:
print(p.a)

3

In [31]:
class student(person):
    def __init__(self, student_id, *args):
        super(student, self).__init__(*args)
        self.student_id = student_id
    def __str__(self):
        return super(student, self).__str__() + " i am a student"

In [32]:
s = student(4, 5, 6, 7)

In [33]:
s

In [34]:
print(s)

my name is anish i am a student

In [35]:
print(p)

my name is anish

In [37]:
print(s)

my name is anish i am a student

In [ ]:
#Encapsulation

In [42]:
class car:
    def __init__(self, t, e, b):
        self.t = t
        self.e = e
        self.b = b
    def __str__(self):
        return str(self.t) + "  " + str(self.e) + "  " + str(self.b)

In [43]:
c = car("dncal", "hbkja", "ubcal")

In [44]:
print(c)

dncal  hbkja  ubcal

In [2]:
#Polymorphism

In [3]:
def add_x(a, b):
    return a+ b

In [4]:
add_x("anish", "tejwani")

'anishtejwani'

In [5]:
add_x([3,4,5], [5,6,7])

[3, 4, 5, 5, 6, 7]

In [6]:
#One function performs differently for different inputs

In [ ]:
#File Handling

In [1]:
%%writefile xyz.txt
my name is anish

Overwriting xyz.txt

In [2]:
pwd()

'C:\\Users\\Anish\\jupyter-lab'

In [3]:
f = open('xyz.txt')

In [4]:
f

In [5]:
f.read()

'my name is anish\n'

In [6]:
f.seek(6)   #Used to adjust pointer

6

In [7]:
f.read()

'e is anish\n'

In [16]:
f1 = open('xyz.txt', 'w+')
f1.write("this is anish tejwani \n bdflc ahla  liutalna \n njbcblkcb   \n bhhcdkjnnca")

72

In [17]:
f1.read()

''

In [18]:
f1.seek(0)

0

In [19]:
f1.read()

'this is anish tejwani \n bdflc ahla  liutalna \n njbcblkcb   \n bhhcdkjnnca'

In [20]:
for i in open('xyz.txt'):
    print(i)

this is anish tejwani

 bdflc ahla  liutalna

 njbcblkcb

 bhhcdkjnnca

In [21]:
s = "anish"

In [22]:
from io import StringIO

In [23]:
s = input()

necjkt  gcna aclhje

In [24]:
s1 = StringIO(s)

In [25]:
type(s)

str

In [26]:
type(s1)

_io.StringIO

In [27]:
s1.read()

'necjkt  gcna aclhje'

In [28]:
s1.read()

''

In [29]:
s1.seek(5)

5

In [30]:
s1.read()

't  gcna aclhje'

In [31]:
s1.write("cagwk f c fuwah  clnahfcan lcj.f")

32

In [32]:
s1.read()

''

In [34]:
s1.seek(0)

0

In [35]:
s1.read()

'necjkt  gcna aclhjecagwk f c fuwah  clnahfcan lcj.f'