In [2]:
s = "anish"

In [5]:
s + str(1)

'anish1'

In [7]:
s*10

'anishanishanishanishanishanishanishanishanishanish'

In [8]:
[1, 2, 3, 4, 'anan']*3

[1, 2, 3, 4, 'anan', 1, 2, 3, 4, 'anan', 1, 2, 3, 4, 'anan']

In [12]:
s.upper()

'ANISH'

In [14]:
a = "ANish"

In [15]:
a.lower()

'anish'

In [16]:
a = "my name is anish tejwani"

In [17]:
a.split()

['my', 'name', 'is', 'anish', 'tejwani']

In [18]:
a = "my@name@is@anish@tejwani"

In [19]:
a.split('@')

['my', 'name', 'is', 'anish', 'tejwani']

In [20]:
a = "my name is anish tejwani"

In [21]:
a.split('a')      # it is also case sensitive
# the delimiter is not a part of the final dataset
# always returns a list

['my n', 'me is ', 'nish tejw', 'ni']

In [22]:
a = "my name is anish tejwani"

In [27]:
a.partition('e')    # there is no default value in this function
# the delimiter is a part of the final dataset
# partitions on the basis pf first occurrence of the delimiter
# gives only 3 output 
# always returns a tuple

('my nam', 'e', ' is anish tejwani')

In [28]:
d = "bdf,ajfeqnfcbkzjnvjbvnszvnl"

In [31]:
d.find('a')    #gives index of first occurence

4

In [33]:
f = "anish"

In [35]:
f.center(50, "v")

'vvvvvvvvvvvvvvvvvvvvvvanishvvvvvvvvvvvvvvvvvvvvvvv'

In [36]:
'anish\ttejwani'.split()

['anish', 'tejwani']

In [37]:
'anish\ttejwani'.expandtabs()

'anish   tejwani'

In [38]:
'my name is {} tejwani'.format('anish')

'my name is anish tejwani'

In [42]:
a = input("please give your first name ")
b = input("please give your last name ")

'my name is {} {}'.format(a, b)

please give your first name anish
please give your last name tejwani

'my name is anish tejwani'

In [43]:
s = "hello"

In [45]:
s.isalnum()

True

In [46]:
s.isalpha()

True

In [47]:
s.isupper()

False

In [48]:
s.istitle()

False

In [49]:
s.endswith('e')

False

In [51]:
len(s)

5

In [53]:
print(s)

hello

In [54]:
s

'hello'

In [60]:
a = [1, 2, 3, 4, 5, "Hello", 4.56, [3, 4, 5]]
b = [4, 5, 6, 7, "my", "name"]

In [58]:
m = []
for i in a :
    m.append(i)
m

[1, 2, 3, 4, 5, 'Hello', 4.56, [3, 4, 5]]

In [61]:
a + b

[1, 2, 3, 4, 5, 'Hello', 4.56, [3, 4, 5], 4, 5, 6, 7, 'my', 'name']

In [63]:
(a +  b)*1

[1, 2, 3, 4, 5, 'Hello', 4.56, [3, 4, 5], 4, 5, 6, 7, 'my', 'name']

In [65]:
b + list("anish")    #list always takes an iterable object

[4, 5, 6, 7, 'my', 'name', 'a', 'n', 'i', 's', 'h']

In [66]:
b

[4, 5, 6, 7, 'my', 'name']

In [68]:
b.append("anish")

In [70]:
b.insert(3, "sfa")

In [71]:
b

[4, 5, 6, 'sfa', 'sfa', 7, 'my', 'name', 'anish', 'anish']

In [72]:
b.insert(-1, "zzz")

In [73]:
b

[4, 5, 6, 'sfa', 'sfa', 7, 'my', 'name', 'anish', 'zzz', 'anish']

In [74]:
b.pop()

'anish'

In [75]:
b

[4, 5, 6, 'sfa', 'sfa', 7, 'my', 'name', 'anish', 'zzz']

In [76]:
b.pop(2)

6

In [77]:
b

[4, 5, 'sfa', 'sfa', 7, 'my', 'name', 'anish', 'zzz']

In [78]:
b[::-1]

['zzz', 'anish', 'name', 'my', 7, 'sfa', 'sfa', 5, 4]

In [80]:
b

['zzz', 'anish', 'name', 'my', 7, 'sfa', 'sfa', 5, 4]

In [81]:
b.reverse()

In [82]:
b

[4, 5, 'sfa', 'sfa', 7, 'my', 'name', 'anish', 'zzz']

In [83]:
b.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [84]:
n = [3, 2, 4, 5]

In [85]:
n.sort()

In [86]:
n

[2, 3, 4, 5]

In [88]:
n= ['anish', 'tejwani']

In [90]:
n.sort()

In [91]:
n

['anish', 'tejwani']

In [94]:
a = [3, 4, 5, 6, 7]
b = [56, 6, 7, 89, 9]
c = [2, 3, 4, 5, 6, 7, 8, 9, 9, 0]

d = [a,b,c]
d

[[3, 4, 5, 6, 7], [56, 6, 7, 89, 9], [2, 3, 4, 5, 6, 7, 8, 9, 9, 0]]

In [96]:
d[-1][::2]

[2, 4, 6, 8, 9]

In [102]:
m = []
d = d[::-1]
for b in d:
    m.append(b[::-1])
m

[[7, 6, 5, 4, 3], [9, 89, 7, 6, 56], [0, 9, 9, 8, 7, 6, 5, 4, 3, 2]]