In [5]:
l = [4,5,6,"anish"]    #List
type(l)

list

In [10]:
t = (1,2,3,4,5,"anish",4.56,4+8j)                 #Tuple

In [4]:
type(t)

tuple

In [11]:
t

(1, 2, 3, 4, 5, 'anish', 4.56, (4+8j))

In [12]:
t[0]

1

In [13]:
t[-1]

(4+8j)

In [14]:
t[::-1]

((4+8j), 4.56, 'anish', 5, 4, 3, 2, 1)

In [15]:
len(t)

8

In [16]:
l

[4, 5, 6, 'anish']

In [18]:
l[0] = "tejwani"

In [19]:
l

['tejwani', 5, 6, 'anish']

In [20]:
t[0]

1

In [21]:
t[0] = "tejwani"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Mutable elements cna be manipulated or updated
# Tuples are immutable elements

In [22]:
s = "anish"

In [23]:
s[1]= "y"

TypeError: 'str' object does not support item assignment

In [ ]:
#String is also a immutable entitiy

In [25]:
t= (3,4,5,6)

In [33]:
for i in t:
    print(t)

(3, 4, 5, 6)
(3, 4, 5, 6)
(3, 4, 5, 6)
(3, 4, 5, 6)

In [31]:
for i in l:
    print(i)

tejwani
5
6
anish

In [36]:
for i in range(len(t)):
    print(t[i])

3
4
5
6

In [37]:
for i in t:
    print(i)

3
4
5
6

In [38]:
t = (3,3,4,5,6)

In [40]:
t.count(3)

2

In [41]:
t.count(10)

0

In [44]:
t.index(4)

2

In [45]:
t.index(9)

ValueError: tuple.index(x): x not in tuple

In [49]:
t= (2,4,5,6)
t1= (6,7,8,9)

In [50]:
t + t1

(2, 4, 5, 6, 6, 7, 8, 9)

In [51]:
t = (4,5,6,7)

In [53]:
l = list(t)

In [55]:
l.insert(2,"anish")

In [56]:
tuple(l)

(4, 5, 'anish', 6, 7)

In [58]:
# Set - kind of Collection which removes duplicate values

In [66]:
s = set([1,1,1,2,3,4,3,2,1,2,4,3,3,3,2,3,1,1,"anish",'anish',"Anish",4.65,True])

In [67]:
s

{1, 2, 3, 4, 4.65, 'Anish', 'anish'}

In [68]:
s[0]

TypeError: 'set' object is not subscriptable

In [70]:
for i in s:
    print(i)

1
2
3
4
4.65
anish
Anish

In [71]:
s[::-1]

TypeError: 'set' object is not subscriptable

In [74]:
d = set((3,4,5,6,3,4,6,5))

In [75]:
d

{3, 4, 5, 6}

In [76]:
list(d)

[3, 4, 5, 6]

In [77]:
list(d)[::-1]

[6, 5, 4, 3]

In [82]:
b = {4,4,4,5,5,5,5}

In [81]:
type(b)

set

In [83]:
b

{4, 5}

In [84]:
b.add("anish")

In [85]:
b

{4, 5, 'anish'}

In [86]:
b.pop()

'anish'

In [87]:
b

{4, 5}

In [88]:
b

{4, 5}

In [89]:
d

{3, 4, 5, 6}

In [92]:
d.pop()

4

In [93]:
d

{5, 6}

In [96]:
s = {4,5,6,7,3,4,7,5,4,1,2,0,"anish","tejwani",342,4324,4546,4534,5443,"##"}

In [97]:
s

{'##', 0, 1, 2, 3, 342, 4, 4324, 4534, 4546, 5, 5443, 6, 7, 'anish', 'tejwani'}

In [98]:
s[0]

TypeError: 'set' object is not subscriptable

In [99]:
for i in s:
    print(i)

0
1
2
3
4
5
6
7
4546
5443
342
4324
tejwani
4534
anish
##

In [103]:
l = [1,2,3,4]